<h1>Friends Index</h1>
{{! The context here is the controller}}
<h2>Total friends: {{model.length}}</h2>

<ul>
  {{#each model as |friend|}}
    <li>
      {{link-to friend.fullName 'friends.show' friend}}
    </li>
  {{/each}}
</ul>
