<table class="primary">
  <thead>
    <tr>
      <th>Description</th>
      <th>Notes</th>
      <th>Borrowed since</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each article in model}}
      {{article-row article=article save="save"}}
    {{/each}}
  </tbody>
</table>
